<!--This html code is used to display the Doctors page-->
<% provide(:title, 'All patients') %>
<h1>Patients</h1>

      <%= link_to "Add Patient", new_patient_path,class: "btn btn-success" %>
      <br></br>
      
      
      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" 
           role="button">Patient Conditions <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <%= Condition.all.each do |condition| %>
                  <li>
                    <%= link_to condition.name, patients_path(condition: condition.name), class: "link"%>
                  </li>
                <% end%>
              </ul>
      </li>
      
      
      <li><%= link_to "All Patients", patients_path %></li>
      <!--Heading for selected condition list-->
      <h5 class="current-condition"><%= params[:condition] %></h5>
      
      <ul class="list_css">
        <% if @patients.count == 0 %>
          <h1>There are currently no patients in this condition.</h1>
        <%else%>
          <!--Display message if there are no patients under in this condition or else display patients-->
          <% @patients.each do |patient| %>
            <h3> <%= link_to patient.name, patient_path(patient) %> </h3>
        <% end %>
        </ul>
        
  <% end %>
