
    <h5> <%= @patient.name %></h5>
    <div class="row">
    	<div class="col-md-7">
          <h3> Date of Birth: <font size="4" color="green"><%= @patient.dob %></h3>
            
          <h3>Address: <font size="4" color="green"><%= @patient.address1 %> <%= @patient.address2 %></font></h3>
          
          <h3> Email Address: <font size="4" color="green"><%= @patient.p_email %></font></h3>
          
          <h3> Phone Number: <font size="4" color="green"><%= @patient.phone %></font></h3>
            
          <h3> GP Information: <font size="4" color="green">Name: <%= @patient.doctor.fname %> <%= @patient.doctor.lname %>, ID: <%= @patient.doctor_id %></font></h3>
            
          <h3> Current Condition: <font margin-left="20px" size="4" color="green"><%= @patient.condition.name %></font</h3>
    
        <br></br>
          <%= link_to "Back", patients_url, class: "btn btn-info"%> |
          <%= link_to "Edit", edit_patient_path(@patient), class: "btn btn-warning" %> |
          <%= link_to "Delete", patient_path(@patient), method: :delete, data: {confirm: "Are you sure?"},class: "btn btn-danger"%> |
          <%= link_to "Make an Appointment", new_appointment_path,class: "btn btn-success" %>
    
      </div>
    
    	    <div class="col-md-5">
    	  
    	      <div class="reviews">
    		
    			    <h2>Patient Recient Status</h2>
    			
    		      	<%= render @patient.stats %>
          			<div>
          				<%= link_to "Add Patient Status Update", new_patient_stat_path(@patient),class: "btn-custom" %>
          			</div>
          	</div>
          </div>
    </div>

<p></p>
<br>
