<!--Patients profile with a nested view (Stats) to display status posts-->
    <h5> <%= @patient.name %></h5>
    <div class="row">
    	<div class="col-md-7">
    	  
    	  <!--Patients details-->
          <h3> Date of Birth: <font size="4" color="green"><%= @patient.dob %></h3>
            
          <h3>Address: <font size="4" color="green"><%= @patient.address1 %> <%= @patient.address2 %></font></h3>
          
          <h3> Email Address: <font size="4" color="green"><%= @patient.p_email %></font></h3>
          
          <h3> Phone Number: <font size="4" color="green"><%= @patient.phone %></font></h3>
            
          <h3> GP Information: <font size="4" color="green">Name: <%= @patient.doctor.fname %> <%= @patient.doctor.lname %>, ID: <%= @patient.doctor_id %></font></h3>
            
          <h3> Current Condition: <font margin-left="20px" size="4" color="green"><%= @patient.condition.name %></font</h3>
    
        <br></br>
        <!--Links to edit, delet, make appointment or go back-->
          <%= link_to "Back", patients_url, class: "btn btn-info"%> |
          <%= link_to "Edit", edit_patient_path(@patient), class: "btn btn-warning" %> |
          <%= link_to "Delete", patient_path(@patient), method: :delete, data: {confirm: "Are you sure?"},class: "btn btn-danger"%> |
          <%= link_to "Make an Appointment", new_appointment_path,class: "btn btn-success" %>
    
      </div>
    
    	    <div class="col-md-5">
    	  
    	      <div class="stats">
    	        <div style="text-align:center">
    	          
    	          <!--Create a new status post-->
          				<%= link_to "Add Current Patient Status ", new_patient_stat_path(@patient), class: "btn-status" %>
          			</div>
    		
    			    <h2>Patient's Recient Status</h2>
    			<!--This is where the the pation status posts will be displayed-->
    		      	<%= render @patient.stats %>
          	</div>
          </div>
    </div>

<p></p>
<br>
