<% provide(:title, 'All appointments') %>
<h1>Appointments</h1>

<%= link_to "Make an Appointment", new_appointment_path,class: "btn btn-success" %>
      <br></br>

      <!--Search function-->
      <!--reference: https://rubyplus.com/episodes/291-Simple-Search-Form-in-Rails-5 -->
      <%= form_tag(appointments_path, method: :get) do %>
        <%= text_field_tag :clinic %>
        <%= submit_tag 'Search' %>
      <% end %>
      
      <!--Dropdown list of clinics which are preinstalled in db/seed-->
      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" 
           role="button">Select Clinic <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <%= Clinic.all.each do |clinic| %>
                  <li>
                    <%= link_to clinic.name, appointments_path(clinic: clinic.name), class: "link"%>
                  </li>
                <% end%>
              </ul>
      </li>
      
      <!--View all appointments link-->
      <li><%= link_to "All Appointments", appointments_path %></li>
      <br>
      
      <!--Heading for selected clinic list-->
      <h5 class="current-clinic"><%= params[:clinic] %></h5>
        <ul class="list_css">
        <!--Display message if there are no appointments under in this condition or else display appointments-->
        <% if @appointments.count == 0 %>
          <h1>There are currently no appointments made for this clinic.</h1>
        <%else%>
          
          <!--Display appointments in a tabe with links-->
          <table class="table">
              <tr>
                <th>ID</th>
                <th>Clinic Name</th>
                <th></th>
              </tr>
              
              <tbody>
                <% @appointments.each do |appointment| %>
                <tr>
                  <td> <%= appointment.id %> </td>
                  <td> <%= link_to appointment.clinic.name, appointment_path(appointment) %></td>
                  <td> <%= link_to 'Delete', appointment, method: :delete, data: {confirm: 'Are You sure you want to delete this appointment?'} %> </td>
                </tr>
                <% end %>
              </tbody>
          </table>
 
        </ul>
       
  <% end %>